<%= render 'layouts/base' %>
<!-- Ajoutez ceci à votre vue -->
<% if flash[:alert] %>
  <div class="alert alert-danger" style="text-color: green;">
    <%= flash[:alert] %>
  </div>
<% end %>

<% if flash[:notice] %>
  <div class="alert alert-success" style="text-color: green;">
    <%= flash[:notice] %>
  </div>
<% end %>

<h1>Trajets Disponibles</h1>

<div class="uk-child-width-1-4@m uk-child-width-1-2@s uk-grid-small" uk-grid>
  <% if @trajets.any? %>
    <% @trajets.each do |trajet| %>
      <div>
        <a href="#" class="event_cover">
          <div class="sl_events_list_media">
            <%= image_tag 'trajet.jpg', class: "events-list-cover-img" %>
          </div>
        </a>
        <div class="sl_events_list_info">
          <h3><strong>Départ:</strong> <%= trajet.depart %></h3>
          <h3><strong>Destination:</strong> <%= trajet.destination %></h3>
          <h3><strong>Places Disponibles:</strong> <%= trajet.places_disponibles %></h3>
          <h3><strong>Date:</strong> <%= trajet.heure_depart %></h3>

          <div class="sl_events_list_info_btns">
            <span>
              <%= form_with(url: reserver_trajet_path(trajet), method: :post) do |form| %>
                <%= form.button type: 'submit', class: 'btn button blue small block' do %>
                  <span>Réserver Maintenant</span>
                <% end %>
              <% end %>
            </span>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <p>Aucun trajet trouvé.</p>
  <% end %>
</div>

